name: PyPI
on:
  push:
    tags:
    - v*.*.*
jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Create source distribution
      run: pipx run build --sdist
    - name: Create (binary) wheel distributions
      uses: pypa/cibuildwheel@v2.11.2
      with:
        output-dir: dist
    - name: Publish distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI }}
